In [1]:
import pandas as pd

In [2]:
csv_path = "../data_preparation_scripts/sperm_all_BBs.csv"

In [3]:
df = pd.read_csv(csv_path,sep=" ")

In [4]:
df

,frame_name,fid,class,bb0,bb1,bb2,bb3
0,11_frame_0_with_ftid,ckz3v9nzv00033867jsekqdcl,0,0.275781,0.412500,0.026562,0.037500
1,11_frame_0_with_ftid,ckz6ru2eb0001386lefk6js4m,0,0.238281,0.583333,0.026562,0.037500
2,11_frame_0_with_ftid,ckz6ru3um0003386l39xwv0yk,0,0.246094,0.847917,0.026562,0.037500
3,11_frame_0_with_ftid,ckz6ru5610005386l8uoys4lc,0,0.194531,0.845833,0.026562,0.037500
4,11_frame_0_with_ftid,ckz6ru6of0007386lhf2t4dtw,0,0.083594,0.806250,0.026562,0.037500
...,...,...,...,...,...,...,...
656330,82_frame_1499_with_ftid,cl4za2v3u000c3y6fc6jz65yn,0,0.629687,0.304167,0.028125,0.037500
656331,82_frame_1499_with_ftid,cl4za4fnb000g3y6frpvd1jm6,0,0.335156,0.630208,0.039062,0.052083
656332,82_frame_1499_with_ftid,cl4zaco4r000k3y6fa7pk88t5,0,0.562500,0.378125,0.034375,0.052083
656333,82_frame_1499_with_ftid,cl5mo9vaj00033b6gb6jraptt,2,0.264062,0.664583,0.015625,0.020833
656334,82_frame_1499_with_ftid,cl5modn3m000a3b6gto9tq5oy,2,0.278125,0.627083,0.015625,0.016667

In [5]:
df["frame_name"].nunique()

29196

In [6]:
df["class"].nunique()

3

In [8]:
df["fid"].nunique()

1176

In [9]:
df.groupby("class").nunique()

       frame_name   fid     bb0     bb1    bb2    bb3
class
0           28974  1121  314095  295120  37565  40115
1           10199    20    1852    2104    426    491
2           13532    35   11064   12008   1944   1518

In [11]:
df["class"].value_counts()

0    612377
2     22112
1     21846
Name: class, dtype: int64